*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "plane";
    src: url(font/kenvector_future.ttf);
}

body{
    background-color: white;
    background-image: url(img/bg.png);
}

#game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    max-width: 100%;
    max-height: 100%;
}

#menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    max-width: 100%;
    max-height: 100%;
}

#title{
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 60px;
    font-family: "plane";
}


#play{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -65px;
    transform: skew(20deg);
    height: 50px;
    width: 150px;
    font-size: 40px;
    font-family: "plane";
    background-image: linear-gradient(to bottom, gold, white);
    display: block;
}

#play:active{
    background-image: linear-gradient(to top, gold, white);
}

#quit{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    transform: skew(-20deg);
    height: 50px;
    width: 150px;
    font-size: 40px;
    font-family: "plane";
    background-image: linear-gradient(to bottom, white, gold);
    display: block;
    margin-top: 1rem;
}

#quit:active{
    background-image: linear-gradient(to top, white, gold);
}

#gameoverUI{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 200px;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    background-image: url(img/menu-bg.png);
}

#gameovertext{
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 40px;
    font-family: "plane";
}

#restart{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    text-align: center;
    font-family: "plane";
    transform: translateX(-50%);
    background-color: #FFFFFF;
    display: block;
    border-radius: .4em;
    padding: .5em 0.5em;
    letter-spacing: 0.04em;
}

#restart:active{
    background-color: gold;
}

#exit{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    text-align: center;
    font-family: "plane";
    transform: translateX(-50%);
    display: block;
    border-radius: .4em;
    padding: .5em 0.5em;
    letter-spacing: 0.04em;
}

#exit:active{
    background-color: gold;
}
