*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: space;
    src: url(font/dendritic_voltage.ttf);
}

body{
    background: black;
    background-image: url(img/bg.png);
}

#game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    max-width: 100%;
    max-height: 100%;
}

#playerImage, #asteroidImage, #backgroundImage{
    display: none;
}

#menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#title{
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: space;
}


#play{
    display: block;
	position: relative;
    top: 50%;
    left: 50%;
	margin: 0.5em -3.5em;
	padding: .8em 2.2em;
	cursor: pointer;

	background: #FFFFFF;
	border: none;
	border-radius: .4em;

	text-transform: uppercase;
	font-size: 1.4em;
	font-family: space;
	font-weight: 500;
	letter-spacing: 0.04em;

	mix-blend-mode: color-dodge;
	perspective: 500px;
	transform-style: preserve-3d;
    animation: rotateAngle 6s linear infinite;
}

#play:active {
	background-color: navy;
}
	

#quit{
    display: block;
	position: relative;
    top: 50%;
    left: 50%;
	margin: 0.5em -3.5em;
	padding: .8em 2.2em;
	cursor: pointer;

	background: #FFFFFF;
	border: none;
	border-radius: .4em;

	text-transform: uppercase;
	font-size: 1.4em;
	font-family: space;
	font-weight: 500;
	letter-spacing: 0.04em;

	mix-blend-mode: color-dodge;
	perspective: 500px;
	transform-style: preserve-3d;
    animation: rotateAngle 6s linear infinite;
}

#quit:active {
    background-color: navy;
}

#gameoverUI{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
    background-image: url(img/ui-bg.png);
}

#gameovertext{
    position: relative;
    top: 25px;
    text-align: center;
    font-family: space;
    font-size: 40px;
    color: white;
}

#restart{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: 5px;
    font-family: space;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    display: block;
    border-radius: .4em;
    padding: .5em 0.5em;
}

#restart:active {
    background-color: navy;
}

#exit{
    position: relative;
    cursor: pointer;
    top: 50%;
    left: 50%;
    font-family: space;
    transform: translateX(-50%);
    display: block;
    border-radius: .4em;
    padding: .5em 0.5em;
}

#exit:active {
    background-color: navy;
}

@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}